* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {

    --font-style: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

html {
    font-size: 16px;
    font-family: var(--font-style);
}

body {
    background-color: black;
    color: white;
}

.head {
    position: relative;
    background-image: url(backgrd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 680px;
    width: 100vw;
    background-size: cover;
    font-family: var(--font-style);
    border-bottom: 8px solid rgb(67, 67, 67);
}

.black {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.304);
    z-index: 0;
}

/* navbar-------------------------------------------- */

.navbar {
    position: relative;
    width: 70vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    z-index: 20;
}

.navbar div:nth-child(1) {
    width: 15%;
}

.navbar div:nth-child(1) img {
    width: 100%;
    padding: 5px;
}

.navbar div:nth-child(2) {
    display: flex;
    width: 20%;
    justify-content: space-between;
    height: 80%;
    align-items: center;
    column-gap: 5px;
}

.language {
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
    width: 50%;
    height: 50%;
}

.language option {
    background-color: white;
    color: black;
}

.navbar div:nth-child(2) span {
    background-color: red;
    padding: 5px;
    border-radius: 3px;
}

.navbar div:nth-child(2) span a {
    color: white;
    text-decoration: none;
}

/* navbar-------------------------------------------- */

/* header--------------------------------------------- */

.head_content {
    position: relative;
    z-index: 200;
    color: white;
    height: 85%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-family: var(--font-style);
}

.head_content div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.head_content div:nth-child(1) h3 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.head_content div:nth-child(1) span {
    font-size: 1.5rem;
    text-align: center;
}


.head_content div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 12%;
}

.head_content div:nth-child(2) input {
    border: 2px solid red;
    font-family: var(--font-style);
    width: 60%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.484);
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgb(141, 141, 141);
}

.head_content ::placeholder {
    color: rgb(216, 216, 216);
}

.head_content div:nth-child(2) button {
    background-color: red;
    color: white;
    width: 35%;
    height: 85%;
    font-size: 1.1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    font-family: var(--font-style);
    cursor: pointer;
    border: none;
}

.head_content div:nth-child(2) button span {
    width: 10%;
}

.head_content div:nth-child(2) button span img {
    filter: invert(1);
    width: 100%;
}


/* header--------------------------------------------- */


/* main--------------------------------------------- */

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 2300px;
}

.main .box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 25%;
    align-items: center;
    border-bottom: 8px solid rgb(67, 67, 67);
}

.main .box:nth-child(odd) div:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-family: var(--font-style);
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    padding-left: 10%;
}

.main .box:nth-child(odd) div:nth-child(1) h3 {
    font-size: 2.5rem;
    font-weight: bold;

}

.main .box:nth-child(odd) div:nth-child(1) p {
    font-size: 1.4rem;

}

.main .box:nth-child(odd) div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 60%;
}

.main .box:nth-child(odd) div:nth-child(2) img {
    position: relative;
    z-index: 5;
    width: 80%;
}

.main .box:nth-child(odd) div:nth-child(2) video {
    position: absolute;
    width: 60%;
}

/*  */

.main .box:nth-child(even) div:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-family: var(--font-style);
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    padding-right: 10%;
}

.main .box:nth-child(even) div:nth-child(2) h3 {
    font-size: 2.5rem;
    font-weight: bold;

}

.main .box:nth-child(even) div:nth-child(2) p {
    font-size: 1.4rem;

}

.main .box:nth-child(even) div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 60%;
}

.main .box:nth-child(even) div:nth-child(1) img {
    position: relative;
    z-index: 5;
    width: 80%;
}

.main .box:nth-child(even) div:nth-child(1) video {
    position: absolute;
    width: 60%;
}


/* main--------------------------------------------- */

/* question container--------------------------------------------- */

.question_container {
    width: 100vw;
    height: 900px;
    padding: 20px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid rgb(67, 67, 67);
}

.question_container>div {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.question_container>div h3 {
    font-size: 2.7rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.question_container>div .question_sub_container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.question_container .freq_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    width: 100%;
    height: 13%;
    background-color: rgba(128, 128, 128, 0.325);
    overflow: hidden;
    transition: all;
    transition-duration: 0.2s;
}

.question_container .freq_box:hover {
    background-color: rgba(128, 128, 128, 0.421);
}

.question_container .freq_box span {
    color: white;
    font-size: 1.5rem;
}

.question_container .freq_box svg {
    width: 40px;

    filter: invert(1);
}

.question_container>div .question_sub_container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.question_sub_container2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.question_sub_container2>span {
    font-size: 1.3rem;
}

.question_sub_container2>div {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}

.question_sub_container2>div input {
    font-family: var(--font-style);
    width: 60%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.484);
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgb(141, 141, 141);
}

.question_sub_container2>div ::placeholder {
    color: rgb(216, 216, 216);
}

.question_sub_container2>div button {
    background-color: red;
    color: white;
    width: 30%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    font-family: var(--font-style);
    cursor: pointer;
    border: none;
}

.question_sub_container2>div img {
    width: 20px;
    filter: invert(1);
}

/* question container--------------------------------------------- */


/* footer--------------------------------------------------------- */


.footer{
  border: 2px solid red;
  height: 400px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_box{
    width: 85%;
    height: 80%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.footer_box div{
    border: 2px solid blue;
   background-color: red;
}

.footer div:nth-child(1){

}

.footer div:nth-child(2){
display: grid;
grid-template-columns: repeat(4,1fr);
min-height: 70%;
}

.footer div:nth-child(3){

}


.language2 {
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
     
}

.language2 option {
    background-color: white;
    color: black;
}


/* footer--------------------------------------------------------- */




/* responsive website */



@media only screen and (max-width:1279px) {

    html {
        font-size: 16px;
    }

    /* responsive navbar-------------------------------------------- */

    .navbar {
        position: relative;
        width: 100vw;
        height: 75px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        z-index: 20;
        padding: 5px 10px;
    }

    .navbar div:nth-child(1) {
        width: 15%;
    }

    .navbar div:nth-child(1) img {
        width: 100%;
        padding: 5px;
    }

    .navbar div:nth-child(2) {
        display: flex;
        width: 30%;
        justify-content: space-between;
        height: 80%;
        align-items: center;
    }

    .navbar div:nth-child(2) .language {
        background-color: rgba(0, 0, 0, 0.151);
        color: white;
        width: 50%;
        height: 50%;
    }

    .navbar div:nth-child(2) .language option {
        background-color: white;
        color: black;
    }

    .navbar div:nth-child(2) span {
        background-color: red;
        padding: 5px;
        border-radius: 3px;
    }

    .navbar div:nth-child(2) span a {
        color: white;
        text-decoration: none;
    }

    /* responsive navbar-------------------------------------------- */

}

@media only screen and (max-width:1024px) {

    /*Responsive main--------------------------------------------- */
    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 2000px;
    }

    .main .box {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    .main .boxv:nth-child(odd) div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 60%;
        justify-content: center;
        align-items: flex-start;
        row-gap: 20px;
        padding-left: 10%;
    }

    .main .box div:nth-child(1) h3 {
        font-size: 2.5rem;
        font-weight: bold;

    }

    .main .box div:nth-child(1) p {
        font-size: 1.4rem;

    }

    .main .boxv:nth-child(odd) div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .boxv:nth-child(odd) div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 80%;
    }

    .main .boxv:nth-child(odd) div:nth-child(2) video {
        position: absolute;
        width: 60%;
    }

    /*  */

    .main .boxv:nth-child(odd) div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 60%;
        justify-content: center;
        align-items: flex-start;
        row-gap: 20px;
        padding-left: 10%;
    }

    .main .box div:nth-child(1) h3 {
        font-size: 2.5rem;
        font-weight: bold;

    }

    .main .box div:nth-child(1) p {
        font-size: 1.4rem;

    }

    .main .box div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .boxv:nth-child(odd) div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 80%;
    }

    .main .boxv:nth-child(odd) div:nth-child(2) video {
        position: absolute;
        width: 60%;
    }

    /*Responsive main--------------------------------------------- */

}

@media only screen and (max-width:960px) {

    html {
        font-size: 16px;
    }

    /*Responsive main--------------------------------------------- */


    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 2400px;
    }

    .main .box {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    .main .box div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 100%;
        row-gap: 20px;
        align-items: center;
        padding-right: 10%;
    }

    .main .box div:nth-child(1) h3 {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .main .box div:nth-child(1) p {
        font-size: 1.1rem;
        text-align: center;
    }

    .main .box div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    .main .box div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .box div:nth-child(2) video {
        position: absolute;
        width: 40%;
    }


    /*Responsive main--------------------------------------------- */

}

@media only screen and (max-width:853px) {

    /* question sub container 2-------------------------------------- */

    .question_container>div .question_sub_container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .question_sub_container2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .question_sub_container2>span {
        font-size: 1.2rem;
        text-align: center;
    }

    .question_sub_container2>div {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-around;
        align-items: center;
        height: 30%;
    }

    .question_sub_container2>div input {
        font-family: var(--font-style);
        width: 50%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.484);
        color: white;
        font-size: 1.2rem;
        border: 1px solid rgb(141, 141, 141);
    }

    .question_sub_container2>div ::placeholder {
        color: rgb(216, 216, 216);
    }

    .question_sub_container2>div button {
        background-color: red;
        color: white;
        width: 35%;
        height: 100%;
        font-size: 1rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--font-style);
        cursor: pointer;
        border: none;
    }

    .question_sub_container2>div img {
        width: 15px;
        filter: invert(1);
    }

    /* question sub container 2-------------------------------------- */


}

@media only screen and (max-width:631px) {


    .head {
        position: relative;
        background-image: url(backgrd.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 610px;
        width: 100vw;
        background-size: cover;
        font-family: var(--font-style);
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    /* head content-------------------------------------------- */

    .head_content {
        position: relative;
        z-index: 200;
        color: white;
        height: 85%;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        font-family: var(--font-style);
    }

    .head_content div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 23px;
    }

    .head_content div:nth-child(1) h3 {
        font-size: 2.7rem;
        font-weight: bolder;
        text-align: center;
    }

    .head_content div:nth-child(1) span {
        font-size: 1.4rem;
        text-align: center;
    }


    .head_content div:nth-child(2) {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 25%;
        padding: 5px;
        row-gap: 10px;
    }

    .head_content div:nth-child(2) input {
        font-family: var(--font-style);
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.484);
        color: white;
        font-size: 1.2rem;
        border: 1px solid rgb(141, 141, 141);
    }

    .head_content ::placeholder {
        color: rgb(216, 216, 216);
    }

    .head_content div:nth-child(2) button {
        background-color: red;
        color: white;
        width: 35%;
        height: 85%;
        font-size: 1.1rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-style);
        cursor: pointer;
        border: none;
    }

    .head_content div:nth-child(2) button span {
        width: 10%;
    }

    .head_content div:nth-child(2) button span img {
        filter: invert(1);
        width: 100%;
    }

    /* head content-------------------------------------------- */


    /*Responsive main--------------------------------------------- */


    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 2000px;
    }

    .main .box {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    .main .box:nth-child(odd) div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 100%;
        row-gap: 20px;
        align-items: center;
        padding-right: 10%;
    }

    .main .box:nth-child(odd) div:nth-child(1) h3 {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .main .box:nth-child(odd) div:nth-child(1) p {
        font-size: 1.1rem;
        text-align: center;
    }

    .main .box:nth-child(odd) div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    .main .box:nth-child(odd) div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .box:nth-child(odd) div:nth-child(2) video {
        position: absolute;
        width: 45%;
    }

    /*  */
    .main .box:nth-child(even) div:nth-child(2) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 100%;
        row-gap: 20px;
        align-items: center;
        padding-left: 10%;
    }

    .main .box:nth-child(even) div:nth-child(2) h3 {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }

    .main .box:nth-child(even) div:nth-child(2) p {
        font-size: 1.1rem;
        text-align: center;
    }

    .main .box:nth-child(even) div:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    .main .box:nth-child(even) div:nth-child(1) img {
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .box:nth-child(even) div:nth-child(1) video {
        position: absolute;
        width: 45%;
    }

    /*Responsive main--------------------------------------------- */

}



@media only screen and (max-width:481px) {

    html {
        font-size: 16px;
    }

    /* responsive navbar-------------------------------------------- */

    .navbar div:nth-child(2) {
        display: flex;
        width: 45%;
        justify-content: space-between;
        height: 80%;
        align-items: center;

    }

}

@media only screen and (max-width:430px) {

    html {
        font-size: 16px;
    }

    /* responsive navbar-------------------------------------------- */

    .navbar {
        position: relative;
        width: 100vw;
        height: 75px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        z-index: 20;
        padding: 5px 10px;
    }

    .navbar div:nth-child(1) {
        width: 30%;
    }

    .navbar div:nth-child(1) img {
        width: 100%;
        padding: 3px;
    }

    .navbar div:nth-child(2) {
        display: flex;
        width: 40%;
        justify-content: space-between;
        height: 80%;
        align-items: center;
        column-gap: 5px;
    }

    .navbar div:nth-child(2) .language {
        background-color: rgba(0, 0, 0, 0.151);
        color: white;
        width: 50%;
    }

    .navbar div:nth-child(2) .language option {
        background-color: white;
        color: black;
    }

    .navbar div:nth-child(2) span {
        background-color: red;
        padding: 5px;
        border-radius: 3px;
    }

    .navbar div:nth-child(2) span a {
        color: white;
        text-decoration: none;
    }

    /* responsive navbar-------------------------------------------- */

    /* head content-------------------------------------------- */


    .head_content {
        position: relative;
        z-index: 200;
        color: white;
        height: 85%;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        font-family: var(--font-style);
    }

    .head_content div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 23px;
    }

    .head_content div:nth-child(1) h3 {
        font-size: 2.5rem;
        font-weight: bolder;
        text-align: center;
    }

    .head_content div:nth-child(1) span {
        font-size: 1.3rem;
        text-align: center;
    }


    .head_content div:nth-child(2) {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 25%;
        padding: 5px;
        row-gap: 10px;
    }

    .head_content div:nth-child(2) input {
        font-family: var(--font-style);
        width: 100%;
        height: 90%;
        background-color: rgba(0, 0, 0, 0.484);
        color: white;
        font-size: 1rem;
        border: 1px solid rgb(141, 141, 141);
    }

    .head_content ::placeholder {
        color: rgb(216, 216, 216);
    }

    .head_content div:nth-child(2) button {
        background-color: red;
        color: white;
        width: 35%;
        height: 85%;
        font-size: 0.9rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-style);
        cursor: pointer;
        border: none;
    }

    .head_content div:nth-child(2) button span {
        width: 10%;
    }

    .head_content div:nth-child(2) button span img {
        filter: invert(1);
        width: 100%;
    }

    /* head content-------------------------------------------- */


    /*Responsive main--------------------------------------------- */


    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 1500px;
    }

    .main .box {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    .main .box:nth-child(odd) div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 100%;
        row-gap: 20px;
        align-items: center;
        padding-right: 10%;
    }

    .main .box:nth-child(odd) div:nth-child(1) h3 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    .main .box:nth-child(odd) div:nth-child(1) p {
        font-size: 0.9rem;
        text-align: center;
    }

    .main .box:nth-child(odd) div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    .main .box:nth-child(odd) div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .box:nth-child(odd) div:nth-child(2) video {
        position: absolute;
        width: 45%;
    }

    /*  */


    /*Responsive main--------------------------------------------- */

}

@media only screen and (max-width:340px) {

    html {
        font-size: 16px;
    }

    /* responsive navbar-------------------------------------------- */

    .navbar {
        position: relative;
        width: 100vw;
        height: 75px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        z-index: 20;
        padding: 5px 10px;
    }

    .navbar div:nth-child(1) {
        width: 30%;
    }

    .navbar div:nth-child(1) img {
        width: 100%;
        padding: 3px;
    }

    .navbar div:nth-child(2) {
        display: flex;
        width: 50%;
        justify-content: space-between;
        height: 80%;
        align-items: center;
    }

    .navbar div:nth-child(2) .language {
        background-color: rgba(0, 0, 0, 0.151);
        color: white;
        width: 50%;
    }

    .navbar div:nth-child(2) .language option {
        background-color: white;
        color: black;
    }

    .navbar div:nth-child(2) span {
        background-color: red;
        padding: 5px;
        border-radius: 3px;
    }

    .navbar div:nth-child(2) span a {
        color: white;
        text-decoration: none;
    }

    /* responsive navbar-------------------------------------------- */


}


@media only screen and (max-width:280px) {

    html {
        font-size: 16px;
    }

    /* responsive navbar-------------------------------------------- */

    .navbar div:nth-child(2) {
        display: flex;
        width: 55%;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 80%;
        align-items: center;

    }

    /* responsive navbar-------------------------------------------- */

    /* head content-------------------------------------------- */

    .head_content div:nth-child(2) button {
        background-color: red;
        color: white;
        width: 45%;
        height: 80%;
        font-size: 0.9rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-style);
        cursor: pointer;
        border: none;
    }

    .head_content div:nth-child(2) button span {
        width: 10%;
    }

    .head_content div:nth-child(2) button span img {
        filter: invert(1);
        width: 100%;
    }

    /* head content-------------------------------------------- */


    /*Responsive main--------------------------------------------- */


    .main {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: 1300px;
    }

    .main .box {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 8px solid rgb(67, 67, 67);
    }

    .main .box div:nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: var(--font-style);
        width: 100%;
        row-gap: 20px;
        align-items: center;
        padding-right: 10%;
    }

    .main .box div:nth-child(1) h3 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
    }

    .main .box div:nth-child(1) p {
        font-size: 0.8rem;
        text-align: center;
    }

    .main .box div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    .main .box div:nth-child(2) img {
        position: relative;
        z-index: 5;
        width: 60%;
    }

    .main .box div:nth-child(2) video {
        position: absolute;
        width: 45%;
    }


    /*Responsive main--------------------------------------------- */


    /* question sub container 2-------------------------------------- */

    .question_container>div .question_sub_container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    .question_sub_container2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .question_sub_container2>span {
        font-size: 0.9rem;
        text-align: center;
    }

    .question_sub_container2>div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 30%;
        padding: 0px 5px;
    }

    .question_sub_container2>div input {
        font-family: var(--font-style);
        width: 50%;
        height: 85%;
        background-color: rgba(0, 0, 0, 0.484);
        color: white;
        font-size: 1rem;
        border: 1px solid rgb(141, 141, 141);
    }

    .question_sub_container2>div ::placeholder {
        color: rgb(216, 216, 216);
    }

    .question_sub_container2>div button {
        background-color: red;
        color: white;
        width: 35%;
        height: 100%;
        font-size: 0.8rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--font-style);
        cursor: pointer;
        border: none;
    }

    .question_sub_container2>div img {
        width: 10px;
        filter: invert(1);
    }

    /* question sub container 2-------------------------------------- */

}